.login {
  align-items: center;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login .loginWrapper {
  display: flex;
  height: 70%;
  width: 70%;
}

.login .loginWrapper .loginLeft,
.login .loginWrapper .loginRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.loginRight .loginError {
  color: red;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.loginWrapper .loginLeft .loginLogo {
  color: #1775ee;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

.loginWrapper .loginLeft .loginDesc {
  font-size: 24px;
}

.loginWrapper .loginRight .loginBox {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding: 20px;
}

.loginRight .loginBox .loginInput {
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
  height: 50px;
  padding-left: 20px;
}

.loginRight .loginBox .loginInput:focus {
  outline: none;
}

.loginRight .loginBox .loginButton {
  background-color: #1775ee;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
}

.loginButton :disabled {
  cursor: not-allowed;
}
.loginRight .loginBox .loginForgot {
  color: #1775ee;
  text-align: center;
}

.loginRight .loginBox .loginRegisterButton {
  align-self: center;
  background-color: #42b72a;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  width: 60%;
}
